body , html{
    margin : 3%;
    padding: 0;
}

.whiteSquare{
    background-color: #e9f2ff;
    float: left;
    width: 60px;
    height: 60px;
}
.blackSquare{
    background-color : #151c23;
    float: left;
    width: 60px;
    height: 60px;
}

#board {
    border-collapse: collapse;
    width: 506px;
    border: solid #151c23 5px;
}

.WhitePiece {
    float: left;
    margin: 8px;
    width: 38px;
    height: 38px;
    border: solid #2b62a1 3px;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
}

.BlackPiece {
    float: left;
    margin: 8px;
    width: 38px;
    height: 38px;
    border: solid white 3px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #2b62a1;
}